* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.cat-list {
  width: 30;
}

.cat {
  width: 70%;
}

.img-responsive {
  width: 100%;
}

.clickable {
  cursor: pointer;
}
