* {
  box-sizing: border-box;
}

a:hover {
  opacity: 0.7;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.block {
  display: block;
  padding: 10px;
}

.cat-list {
  width: 30;
}

.cat {
  width: 70%;
}

.img-responsive {
  width: 100%;
}

.clickable {
  cursor: pointer;
  opacity: 0.7;
}

.clickable:hover {
  opacity: 1;
}

.selected {
  cursor: default;
  color: #000;
  text-decoration: none;
}
